* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: gray;
}

.hero {
  width: 100%;
  padding-top: 150px;
}

.nav {
  position: fixed;
  left: 100px;
  right: 100px;
  top: 20px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  z-index: 1000;

  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
}


.logo {
  width: 100px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: border-color 0.2s, box-shadow 0.3s;
}

.logo:hover {
  border-color: white;
  box-shadow: 0 0 8px 2px white;
}



#logo-img {
  width: 100%;
  border-radius: 50%;
  transition: transform 0.7s cubic-bezier(.32, .72, .28, 1.58);
  transform-style: preserve-3d;
}

.logo:hover #logo-img {
  transform: rotateY(360deg);
}


.info {
  display: flex;
  gap: 30px;
  /* align-items: center; */

}

.info a {
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: gray;
  display: inline-block;
  transition:
    color 0.3s,
    transform 0.3s,
    text-decoration 0.3s;
}

.info a:hover {
  color: white;
  transform: scale(1.15);
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;


}

.home-content {
  max-width: 800px;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  /* color: #00abf0; */
}

.home-content p {
  font-size: 20px;
  margin: 20px 0 40px;
}

.btn-box {
  margin-top: 40px;
}

.btn-box button {
  font-size: 16px;
  font-weight: 600;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
}

.hire-me {
  margin-right: 40px;
}

/* porfile card */

.pic {
  display: flex;
  justify-content: center;
}

.pic-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 400px;
  height: 560px;
  margin: 150px 0px 100px 150px;
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 26px;
  padding: 25px;
  position: relative;
  border: 1px solid white;
  /* transition: transform 2s; */
}

.pic-frame:hover {
  cursor: pointer;
  /* transform: rotateY(180deg); */
}

.pic-frame::before {
  content: "";
  position: absolute;
  height: 36%;
  width: 100%;
  background-color: #000000;
  top: 0;
  left: 0;
  border-radius: 24px 24px 0 0;
  z-index: 0;
}

.image {
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: rgb(37, 34, 34);
  margin: 0 auto 10px auto;
  overflow: hidden;
  z-index: 1;
}

.image .prof-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  border: 3px solid white;
}

.pic-frame .text-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  z-index: 1;
}

.name {
  font-size: 28px;
  font-weight: 500;
}

.text-data .job {
  font-size: 22px;
  font-weight: 500;
}

.pic-frame .media {
  display: flex;
  align-items: center;
  margin-top: 15px;
  z-index: 1;
}

.media .link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  background-color: #4070f4;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  text-decoration: none;
  margin: 0 8px;
}

.pic-frame .buttons {
  display: flex;
  align-items: center;
  margin-top: 25px;
  z-index: 1;
}

.buttons .connect {
  color: white;
  background-color: black;
  font-size: 14px;
  font-weight: 400;
  margin: 0 10px;
  padding: 8px 24px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons .connect:hover {
  background-color: gray;
}

/* skills */

.heading {
  display: flex;
  justify-content: center;
}

.heading h1 {
  font-size: 3rem;
}


#tools-heading {
  font-size: 2em;
  text-align: center;
  margin: 4rem 0 2rem 0;
  letter-spacing: 0.5px;
}

.track {
  display: flex;
  justify-content: center;
  gap: 6rem;
   width: fit-content;
  /* animation: scroll-left 20s linear infinite; */
}

.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee-box.right-to-left .track {
  animation: scroll-left 20s linear infinite;
}

.marquee-box.left-to-right .track {
  animation: scroll-right 20s linear infinite;
}

.item {
  width: 18.75rem;
}

.item img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  transition: transform 0.4s ease-in-out;
}

.item:hover img {
  cursor: pointer;
  transform: scale(1.1);
}

.item p {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1.2rem;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}